body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/green_dust_scratch.png");
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow:
	1px 1px 0 #333333,
	-1px 1px 0 #999999,
	-1px -1px 0 #999999,
	1px -1px 0 #999999;
}
.newline
{
	clear:both;
}
#container
{
	width: 1200px;
	height: 720px;
	color: white;
	margin-left: auto;
	margin-right:auto;
}
p
{
	text-indent: 5%;
}
h2
{
	position: relative;
	margin: 5px;
	font-family: 'Architects Daughter', cursive;
	
}
a:link
{
	text-decoration: none;
	color: inherit;
}
a:visited
{
	text-decoration: none;
	color: inherit;
}
a:hover;
{
	text-decoration: underline;
	color: inherit;
}
#title
{
	font-family: 'Architects Daughter', cursive;
	font-size: 20px;
	width: 998px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
	
}
.bigtitle
{
	position: relative;
	top: -18px;
}
#usermenu
{
	float: right;
}
.accountmanager
{
	float: top;
	width: 100px;
	height: 25px;
	color: #0000FF;
	text-align: center;
	font-family: 'Asap Condensed', sans-serif;
	font-weight: 500;
	text-shadow: none;
}
.accountmanager:hover
{
	text-decoration: underline;
	cursor: pointer;
}
#menu
{
	width: 1200px;
	min-height: 40px;	
}
#inmainmenu
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	min-height: 42px;

}
.minimenu
{
	float: left;
	background-color: #666666;
	text-align: center;
	color: #EEEDDD;
	font-size: 20px;
	border-right: 2px solid #888888;
	width: 228px;
	padding: 10px;

}
#minimenuended
{
	float: left;
	background-color: #666666;
	text-align: center;
	color: #EEEDDD;
	font-size: 20px;
	width: 230px;
	padding: 10px;

}
.minimenu:hover
{
	background-color: #444444;
	cursor: pointer;
}
#minimenuended:hover
{
	background-color: #444444;
	cursor: pointer;
}
#description
{
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 970px;
	text-align: justify;
	font-size: 20px;
	color: white;
	padding: 15px;
	height: 140px;
}
#startpage
{
	width: 1100px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#money
{
	float: left;
	font-size: 25px;
	position: relative;
	left: 260px;
	font-family: 'Architects Daughter', cursive;
	font-weight: 900;
	
}
#muchmoney
{
	float:left;
	font-size: 25px;
	position: relative;
	left: 750px;
	font-family: 'Architects Daughter', cursive;
	font-weight: 900;
}

#foto
{
	clear: both;
	float: left;
	position: relative;
	left: 70px;
}
#rightbold
{
	float: left;
	position: relative;
	left: 10px;
	margin-top: 50px;
	z-index: 2;
	font-size: 170px;
	opacity: 70%;
	color: white;
	text-shadow:
	2px 2px 0 #99CC00,
	-2px 2px 0 #99CC00,
	-2px -2px 0 #99CC00,
	2px -2px 0 #99CC00;
}
#foto2
{
	float: right;
	position: relative;
	z-index: 0;
	left: -70px;
}
#footer
{
	width: 970px;
	background-color: #999999;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 15px;
}
#logincontainer
{
	background-color: #CCCCCC;
	width: 300px;
	padding:60px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	-webkit-box-shadow: 5px 5px 47px -1px rgba(0,0,0,0.69);
	-moz-box-shadow: 5px 5px 47px -1px rgba(0,0,0,0.69);
	box-shadow: 5px 5px 47px -1px rgba(0,0,0,0.69);

}
.logintitle
{
	position: relative;
	left: 90px;
	font-size: 25px;
	text-align: center;
	color: #BBBBBB;
}
input[type=text],
input[type=address],
input[type=name],
input[type=password],
input[type=number],
.list
{
	width: 276px;
	padding: 15px 10px;
	outline: none;
	font-size: 20px;
	background-color: #efefef;
	margin-top: 20px;
	border: 2px solid #BBBBBB;
	border-radius: 5px;
	color: grey;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CCCCCC;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #CCCCCC;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #CCCCCC;
}
.radion
{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 200px;
	font-size: 20px;
}
input[type=submit],
input[type=reset]
{
	width: 300px;
	border: 2px solid #BBBBBB;
	background-color: #99CCCC;
	font-size: 20px;
	color: grey;
	padding: 15px 10px;
	margin-top: 40px;
	border-radius: 5px;
}
input[type=submit]:hover,
input[type=reset]:hover
{
	cursor: pointer;
	background-color: #339999;
	color: white;
	
}
#gotoregister
{
	margin-top: 20px;
	background-color: #CCCCCC;
	font-size: 15px;
	color: blue;
	text-shadow: none;
}
#gotoregister:hover
{
	text-decoration: underline;
	cursor: pointer;
}
#backtomainmenu
{
	width: 260px;
	font-size: 20px;
	text-align: right;
	color: white;
}
#backtomainmenu:hover
{
	color: blue;
	cursor: pointer;
}
.icon-left-big
{
	float:left;
}
#emptyspace
{
	height: 244px;
}
#howitworks
{
	position: relative;
	top: 25px;
	letter-spacing: 1px;
	font-size: 25px;
	color: inherit;
}
.footerposition
{
	display: block;
	clear: both;
	height: 100px;
}
.icon
{
	float: left;
	width: 120px;
	font-size: 80px;
	margin-left: 50px;
	margin-top:10px;
	margin-bottom:20px;
}
.icondescription
{
	float: left;
	margin-top:30px;
	margin-left:30px;
	font-size: 50px;
}
#slider
{
	clear: both;
	height: 550px;
	border: 1px solid black;
}
ol 
{
	width: 1000px;
	margin-top: 0px;
	padding: 0px;
	float: left;
	border-left:2px solid #888888;
}

ol > li
{
	float: left;
	list-style-type: none;
	background-color: #666666;
	text-align: center;
	color: #EEEDDD;
	font-size: 20px;
	border-right: 2px solid #888888;
	width: 228px;
	padding: 10px;
	display:block;
	height: 28px;;
}
ol > li:hover
{
	background-color: #333333;
	cursor: pointer;
}
ol > li > ul
{
	position: relative;
	top: 14px;
	left: -12px;
	width: 248px;
	padding: 0;
	margin: 0;
	z-index: 2;
	border-right: 2px solid #888888;
}
ol > li > ul:first-child
{
	border-left: 2px solid #888888;
}
ol > li > ul > li:hover
{
	background-color: #333333;
	cursor: pointer;
}
ol > li:hover > ul > li
{
	display: block;
}
ol > li > ul > li
{
	display:none;
	list-style-type: none;
	margin-left:0px;
	background-color: #666666;
	border-top: 1px solid #888888;
	text-align: center;
	color: #EEEDDD;
	font-size: 20px;
	padding: 10px;
}
#slider
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px;
	margin-bottom: 30px;
	height: 400px;
	width: 800px;
}
.mess
{	
	position: relative;
	text-align: center;
	padding: 35px 0px;
	top: -150px;
	left: 30px;
	width: 300px;
	background-color: black;
	color: white;
	text-shadow: none;
	opacity: 70%;
	border-radius: 5px;
}
.mess2
{	
	position: relative;
	text-align: center;
	padding: 35px 0px;
	top: -350px;
	left: 450px;
	width: 300px;
	background-color: black;
	color: white;
	opacity: 70%;
	text-shadow: none;
	border-radius: 5px;
}
.mess3
{	
	position: relative;
	text-align: center;
	padding: 35px 0px;
	top: -120px;
	left: 450px;
	width: 300px;
	background-color: black;
	color: white;
	text-shadow: none;
	opacity: 70%;
	border-radius: 5px;
}
.mess4
{	
	position: relative;
	text-align: center;
	padding: 35px 0px;
	top: -380px;
	left: 30px;
	width: 300px;
	background-color: black;
	color: white;
	text-shadow: none;
	opacity: 70%;
	border-radius: 5px;
}
.forms
{
		width:1200px;
		height: 572px;
		border: 1px solid black;
}
.tables
{
	width: 100%;
}
.tablesstyle
{
	text-align: center;
	
}
.tabletitle
{
	margin-left: 5px;
	text-align: center;
	float: left;
	border: 1px solid black;
	width: 200px;
	height: 30px;
	color: white;
	font-size: 25px;
	text-shadow:
	1px 1px 0 #333333;
}
.tabletitlehead
{
	float: left;
	color: maroon;
	width: 200px;
	font-size: 25px;
}
.diag
{
	float: right;
	position: relative;
	top: 150px;
	right: 50px;
	width: 600px;
	height: 400px;
	text-shadow: none;
}
.total
{
	float: right;
	position: relative;
	top: 50px;
	right: 300px;
	font-size: 25px;
	color: maroon;
}
.totalsum
{
	float: right;
	position: relative;
	top: 90px;
	right: 128px;
	width: 170px;
	height: 30px;
	font-size: 25px;
	color: maroon;
}
#totalsumcorr
{
	position: relative;
	left: 17px;
}
.operationkind
{
	padding: 10px;
	text-align: center;
	font-size: 30px;
	font-family: 'Architects Daughter', cursive;
}
.labeltitle
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 10px;
	width: 550px;
	text-align: center;
	font-size: 20px;
}
.formsstyle
{
	width: 450px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
#textfield
{
	float:left;
	resize: none;
	padding: 15px 10px;
	background-color: #efefef;
	color: grey;
	border: 2px solid #CCCCCC;
	display: block;
}
.formposition
{
	float:left;
	width: 596px;
	height: 300px;
}
.button
{
	position: relative;
	left: 35px;
	float:left;
}
#leftbutton
{
	position: relative;
	top: 10px;
}